@font-face {
    font-family: 'komika_titleregular';
    src: url('../fonts/KomikaTitle-webfont.eot');
    src: url('../fonts/KomikaTitle-webfont.eot?#iefix') format('embedded-opentype'),
         url('../fonts/KomikaTitle-webfont.woff') format('woff'),
         url('../fonts/KomikaTitle-webfont.ttf') format('truetype'),
         url('../fonts/KomikaTitle-webfont.svg#komika_titleregular') format('svg');
    font-weight: normal;
    font-style: normal;

}

@font-face {
    font-family: 'komika_title_-_axisregular';
    src: url('../fonts/KomikaTitle-Axis-webfont.eot');
    src: url('../fonts/KomikaTitle-Axis-webfont.eot?#iefix') format('embedded-opentype'),
         url('../fonts/KomikaTitle-Axis-webfont.woff') format('woff'),
         url('../fonts/KomikaTitle-Axis-webfont.ttf') format('truetype'),
         url('../fonts/KomikaTitle-Axis-webfont.svg#komika_title_-_axisregular') format('svg');
    font-weight: normal;
    font-style: normal;

}

@font-face {
    font-family: 'komika_title_-_kapsregular';
    src: url('../fonts/KomikaTitle-Kaps-webfont.eot');
    src: url('../fonts/KomikaTitle-Kaps-webfont.eot?#iefix') format('embedded-opentype'),
         url('../fonts/KomikaTitle-Kaps-webfont.woff') format('woff'),
         url('../fonts/KomikaTitle-Kaps-webfont.ttf') format('truetype'),
         url('../fonts/KomikaTitle-Kaps-webfont.svg#komika_title_-_kapsregular') format('svg');
    font-weight: normal;
    font-style: normal;

}

@font-face {
    font-family: 'komika_title_-_paintregular';
    src: url('../fonts/KomikaTitle-Paint-webfont.eot');
    src: url('../fonts/KomikaTitle-Paint-webfont.eot?#iefix') format('embedded-opentype'),
         url('../fonts/KomikaTitle-Paint-webfont.woff') format('woff'),
         url('../fonts/KomikaTitle-Paint-webfont.ttf') format('truetype'),
         url('../fonts/KomikaTitle-Paint-webfont.svg#komika_title_-_paintregular') format('svg');
    font-weight: normal;
    font-style: normal;

}

@font-face {
    font-family: 'komika_title_-_wideregular';
    src: url('../fonts/KomikaTitle-Wide-webfont.eot');
    src: url('../fonts/KomikaTitle-Wide-webfont.eot?#iefix') format('embedded-opentype'),
         url('../fonts/KomikaTitle-Wide-webfont.woff') format('woff'),
         url('../fonts/KomikaTitle-Wide-webfont.ttf') format('truetype'),
         url('../fonts/KomikaTitle-Wide-webfont.svg#komika_title_-_wideregular') format('svg');
    font-weight: normal;
    font-style: normal;

}

@font-face {
    font-family: 'komika_textbold';
    src: url('../fonts/KOMTXTB_-webfont.eot');
    src: url('../fonts/KOMTXTB_-webfont.eot?#iefix') format('embedded-opentype'),
         url('../fonts/KOMTXTB_-webfont.woff') format('woff'),
         url('../fonts/KOMTXTB_-webfont.ttf') format('truetype'),
         url('../fonts/KOMTXTB_-webfont.svg#komika_textbold') format('svg');
    font-weight: normal;
    font-style: normal;

}

@font-face {
    font-family: 'komika_textbold_italic';
    src: url('../fonts/KOMTXTBI-webfont.eot');
    src: url('../fonts/KOMTXTBI-webfont.eot?#iefix') format('embedded-opentype'),
         url('../fonts/KOMTXTBI-webfont.woff') format('woff'),
         url('../fonts/KOMTXTBI-webfont.ttf') format('truetype'),
         url('../fonts/KOMTXTBI-webfont.svg#komika_textbold_italic') format('svg');
    font-weight: normal;
    font-style: normal;

}

@font-face {
    font-family: 'komika_textitalic';
    src: url('../fonts/KOMTXTI_-webfont.eot');
    src: url('../fonts/KOMTXTI_-webfont.eot?#iefix') format('embedded-opentype'),
         url('../fonts/KOMTXTI_-webfont.woff') format('woff'),
         url('../fonts/KOMTXTI_-webfont.ttf') format('truetype'),
         url('../fonts/KOMTXTI_-webfont.svg#komika_textitalic') format('svg');
    font-weight: normal;
    font-style: normal;

}

@font-face {
    font-family: 'komika_textregular';
    src: url('../fonts/KOMTXT__-webfont.eot');
    src: url('../fonts/KOMTXT__-webfont.eot?#iefix') format('embedded-opentype'),
         url('../fonts/KOMTXT__-webfont.woff') format('woff'),
         url('../fonts/KOMTXT__-webfont.ttf') format('truetype'),
         url('../fonts/KOMTXT__-webfont.svg#komika_textregular') format('svg');
    font-weight: normal;
    font-style: normal;

}

@font-face {
    font-family: 'komika_text_kapsbold';
    src: url('../fonts/KOMTXTKB-webfont.eot');
    src: url('../fonts/KOMTXTKB-webfont.eot?#iefix') format('embedded-opentype'),
         url('../fonts/KOMTXTKB-webfont.woff') format('woff'),
         url('../fonts/KOMTXTKB-webfont.ttf') format('truetype'),
         url('../fonts/KOMTXTKB-webfont.svg#komika_text_kapsbold') format('svg');
    font-weight: normal;
    font-style: normal;

}

@font-face {
    font-family: 'komika_text_kapsbold_italic';
    src: url('../fonts/KOMTXKBI-webfont.eot');
    src: url('../fonts/KOMTXKBI-webfont.eot?#iefix') format('embedded-opentype'),
         url('../fonts/KOMTXKBI-webfont.woff') format('woff'),
         url('../fonts/KOMTXKBI-webfont.ttf') format('truetype'),
         url('../fonts/KOMTXKBI-webfont.svg#komika_text_kapsbold_italic') format('svg');
    font-weight: normal;
    font-style: normal;

}

@font-face {
    font-family: 'komika_text_kapsitalic';
    src: url('../fonts/KOMTXTKI-webfont.eot');
    src: url('../fonts/KOMTXTKI-webfont.eot?#iefix') format('embedded-opentype'),
         url('../fonts/KOMTXTKI-webfont.woff') format('woff'),
         url('../fonts/KOMTXTKI-webfont.ttf') format('truetype'),
         url('../fonts/KOMTXTKI-webfont.svg#komika_text_kapsitalic') format('svg');
    font-weight: normal;
    font-style: normal;

}

@font-face {
    font-family: 'komika_text_kapsregular';
    src: url('../fonts/KOMTXTK_-webfont.eot');
    src: url('../fonts/KOMTXTK_-webfont.eot?#iefix') format('embedded-opentype'),
         url('../fonts/KOMTXTK_-webfont.woff') format('woff'),
         url('../fonts/KOMTXTK_-webfont.ttf') format('truetype'),
         url('../fonts/KOMTXTK_-webfont.svg#komika_text_kapsregular') format('svg');
    font-weight: normal;
    font-style: normal;

}

@font-face {
    font-family: 'komika_text_tightitalic';
    src: url('../fonts/KOMTXTTI-webfont.eot');
    src: url('../fonts/KOMTXTTI-webfont.eot?#iefix') format('embedded-opentype'),
         url('../fonts/KOMTXTTI-webfont.woff') format('woff'),
         url('../fonts/KOMTXTTI-webfont.ttf') format('truetype'),
         url('../fonts/KOMTXTTI-webfont.svg#komika_text_tightitalic') format('svg');
    font-weight: normal;
    font-style: normal;

}

@font-face {
    font-family: 'komika_text_tightregular';
    src: url('../fonts/KOMTXTT_-webfont.eot');
    src: url('../fonts/KOMTXTT_-webfont.eot?#iefix') format('embedded-opentype'),
         url('../fonts/KOMTXTT_-webfont.woff') format('woff'),
         url('../fonts/KOMTXTT_-webfont.ttf') format('truetype'),
         url('../fonts/KOMTXTT_-webfont.svg#komika_text_tightregular') format('svg');
    font-weight: normal;
    font-style: normal;

}