<div class="row activity"> 
	<div class="col-md-1 profilePic"> 
		<a data-href="profileLink" class="profileLink"><img class="sayProfileImg img-circle pull-right" data-src="profilePicture" /></a>
	</div> 
	<div class="col-md-11 activityDisplay"> 
		<div class="row"> 
			<div class="col-md-8">
				<a data-href="profileLink" class="profileLink"><span data-content="firstName"></span> <span data-content="lastName"></span> (<span data-content="userName"></span>)</a>
			</div>
			<div class="col-md-4">
			</div>
		</div> 
	</div>
</div>