<div class="modal fade" id="changeEmail-form" tabindex="-1" role="dialog" aria-labelledby="Change Email">
  <div class="modal-dialog" role="document">
    <div class="modal-content">
      <div class="modal-header">
        <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">&times;</span></button>      
      </div>
      <div class="modal-body">

	<form class="form-horizontal changeEmail-form" accept-charset="utf-8">
				<div class="form-group currentPassword">
					<label for="currentPassword" class="sr-only">Current Password</label>
					<input type="password" id="currentPassword" name="password" class="form-control" placeholder="Current Password" required>
					<span class="help-block"></span>
				</div>
				<div class="form-group newEmail">
					<label for="newEmail" class="sr-only">new Email</label>
					<input type="email" id="newEmail" name="newEmail" class="form-control" placeholder="New Email" required>
					<span class="help-block"></span>
				</div>
				<div class="form-group confirmNewEmail">
					<label for="confirmNewEmail" class="sr-only">Confirm New Email</label>
					<input type="email" id="confirmNewEmail" name="confirmNewEmail" class="form-control" placeholder=" Confirm New Email" required>
					<span class="help-block"></span>
				</div>
				
				<button class="btn btn-lg btn-block changeEmailButton" type="submit">Submit</button>
	</form>
	</div>     
    </div>
  </div>
</div>
				