<div class="modal fade" tabindex="-1" role="dialog" aria-labelledby="gridSystemModalLabel">
	<div class="modal-dialog" role="document">
		<div class="modal-content">
			<div class="modal-header">
				<button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">&times;</span></button>
			</div>
			<div class="modal-body">
				<form class="form-horizontal comment-form" accept-charset="utf-8">
					<div class="form-group newComment">
						<label for="newComment" class="sr-only">Enter Your Comment</label>
						<input type="textarea" id="newComment" name="newCom" rows = "4" class="form-control" placeholder="What have you got to say?" data-value="comment"></textarea>
					</div>
					<button class="btn btn-lg btn-block sayButton" type="submit">Say It!</button>
				</form>
			</div><!-- /.modal-body -->
		</div><!-- /.modal-content -->
	</div><!-- /.modal-dialog -->
</div><!-- /.modal -->	  