<div class="row comment"> 
	<div class="col-md-2"><>
	<div class="col-md-1 sayProfilePic"> 
		<img class="sayProfileImg img-circle pull-right" data-src="profilePicture" /> 
	</div> 
	<div class="col-md-9 commentMessageDetails"> 
		<div class="row"> 
			<div class="col-md-8">
				<span data-content="firstName"></span> <span data-content="lastName"></span> (<span data-content="userName"></span> )
			</div>
			<div class="col-md-4 text-right">
				<span data-content="timePosted"></span> 
			</div>
		</div> 
		<div class="row"> 
			<div class="col-md-12 commentMessage">
				<span data-content="message"></span> 
			</div>
		</div>
		<div class="row"> 
			<div class="col-md-2">
			   <img class="icons" src="images/applaud.png" />Applaud
			</div> 
			<div class="col-md-2">
			    <img class="icons" src="images/re-say.png" />Re-Say
			</div> 
			<div class="col-md-2">
			    <img class="icons" src="images/boo.png" />Boo
			</div> 
			<div class="col-md-6"></div> 
		</div> 
	</div>
</div>