<div class="modal fade" id="personal-form" tabindex="-1" role="dialog" aria-labelledby="Personal Info">
  <div class="modal-dialog" role="document">
    <div class="modal-content">
      <div class="modal-header">
        <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">&times;</span></button>      
      </div>
      <div class="modal-body">
       
	<form class="form-horizontal personal-form" accept-charset="utf-8">
				<div class="form-group personalFirstName">
					<label for="personalFirstName" class="sr-only">First Name</label>
					<input type="text" id="personalFirstName" name="firstName" class="form-control" placeholder="First Name" data-value="firstName">
					<span class="help-block"></span>
				</div>
				<div class="form-group personalLastName">
					<label for="personalFirstName" class="sr-only">Last Name</label>
					<input type="text" id="personalLastName" name="lastName" class="form-control" placeholder="Last Name" data-value="lastName">
					<span class="help-block"></span>
				</div>
				<div class="form-group personalLastName">
					<label for="personalFirstName" class="sr-only">User Name</label>
					<input type="text" id="personalLastName" name="userName" class="form-control uppercaseText" placeholder="User Name" data-value="userName">
					<span class="help-block"></span>
				</div>
				
				<div class="form-group personalDob">
					<label for="personalDob" class="sr-only">DOB</label>
					<input type="text" id="personalDob" name="dob" class="form-control" placeholder="Date of Birth" data-value="dob" data-toggle="datepicker">
					<span class="help-block"></span>
				</div>
				<div class="form-group personalGender">
					<select name="gender" class="form-control" data-value="gender">
				      <option value="">--Select--</option>
					  <option value="M">Male</option>
					  <option value="F">Female</option>
					  <option Value="N">Don't want to say</option>					  
					</select>
					<span class="help-block"></span>
				</div>					
					<button class="btn btn-lg btn-block personalButton" type="submit">Submit</button>
	</form>
	</div>     
    </div>
  </div>
</div>
				