<div class="row say" data-id="sayID" data-template-bind='[
     {"attribute": "data-timeStamp", "value": "timeStamp"}]'> 
	<div class="col-md-1 sayProfilePic"> 
		<a data-href="profileLink" class="profileLink"><img class="sayProfileImg img-circle pull-right" data-src="profilePicture" /></a>
	</div> 
	<div class="col-md-11 sayMessageDetails"> 
		<div class="row"> 
			<div class="col-md-8">
				<a data-href="profileLink" class="profileLink"><span data-content="firstName"></span> <span data-content="lastName"></span> (<span data-content="userName"></span>)</a>
			</div>
			<div class="col-md-4 text-right">
				<span class="timeStamp" data-content="timePosted"></span> 
			</div>
		</div> 
		<div class="row"> 
			<div class="col-md-12 sayMessage">
				<span data-content="message"></span> 
			</div>
		</div> 
		<div class="row"> 
			<div class="col-md-2">
			   <i class="icons applaud flaticon-applaud" data-toggle="tooltip" data-placement="top" title="Applaud"></i><span class="applaud" data-content="applauds"></span>
			</div> 
			<div class="col-md-2">
			    <i class="icons reSay flaticon-resay" data-toggle="tooltip" data-placement="top" title="Re-Say"></i><span class="reSay" data-content="resays"></span>
			</div> 
			<div class="col-md-2">
			    <i class="icons boo flaticon-boo" data-toggle="tooltip" data-placement="top" title="Boo"></i><span class="boo" data-content="boos"></span>
			</div>
			<div class="col-md-2"></div>
			<div class="col-md-3">
				<i class="icons more flaticon-more pull-right" data-toggle="tooltip" data-placement="top" title="More"></i><span class="more" data-content="more"></span>
			</div>
			<div class="col-md-1"></div>
		</div> 
	</div>
</div>