<div class="row say" data-id="sayID"> 
	<div class="col-md-1 sayProfilePic"> 
		<img class="sayProfileImg img-circle pull-right" data-src="profilePicture" /> 
	</div> 
	<div class="col-md-11 sayMessageDetails"> 
		<div class="row"> 
			<div class="col-md-8">
				<span data-content="firstName"></span> <span data-content="lastName"></span> (<span data-content="userName"></span>)
			</div>
			<div class="col-md-4 text-right">
				<span data-content="timePosted"></span> 
			</div>
		</div> 
		<div class="row"> 
			<div class="col-md-12 sayMessage">
				<span data-content="message"></span> 
			</div>
		</div> 
		<div class="row"> 
			<div class="col-md-2">
			   <img class="icons applaud" src="images/applaud.png" data-toggle="tooltip" data-placement="top" data-src="applaudImg" title="Applaud"/><span class="applaud" data-content="applauds"></span>
			</div> 
			<div class="col-md-2">
			    <img class="icons reSay" src="images/resay.png" data-toggle="tooltip" data-placement="top" data-src="resayImg" title="Re-Say"/><span class="reSay" data-content="resays"></span>
			</div> 
			<div class="col-md-2">
			    <img class="icons boo" src="images/boo.png" data-toggle="tooltip" data-placement="top" data-src="booImg" title="Boo"/><span class="boo" data-content="boos"></span>
			</div>
			<div class="col-md-2"></div>
			<div class="col-md-4">
				
			</div>
		</div> 
	</div>
</div>