<div class="row say" data-id="sayID"> 
	<div class="col-md-1 sayProfilePic"> 
		<img class="sayProfileImg img-circle pull-right" data-src="profilePicture" /> 
	</div> 
	<div class="col-md-11 sayMessageDetails"> 
		<div class="row"> 
			<div class="col-md-8">
				<span data-content="firstName"></span> <span data-content="lastName"></span> (<span data-content="userName"></span> )
			</div>
			<div class="col-md-4 text-right">
				<span data-content="timePosted"></span> 
			</div>
		</div> 
		<div class="row"> 
			<div class="col-md-12 sayMessage">
				<span data-content="message"></span> 
			</div>
		</div> 
		<div class="row"> 
			<div class="col-md-2">
			   <img class="icons" src="images/applaud.png" data-toggle="tooltip" data-placement="top" title="Applaud"/>Applaud
			</div> 
			<div class="col-md-2">
			    <img class="icons" src="images/re-say.png" data-toggle="tooltip" data-placement="top" title="Re-Say"/>Re-Say
			</div> 
			<div class="col-md-2">
			    <img class="icons" src="images/boo.png" data-toggle="tooltip" data-placement="top" title="Boo"/>Boo
			</div>
			<div class="col-md-2"></div>
			<div class="col-md-4">
				<button class="btn btn-default comButton pull-right" type="submit">Comment</button>
			</div>
		</div> 
	</div>
</div>