<div class="modal fade" id="sayDetailsModal" tabindex="-1" role="dialog" aria-labelledby="gridSystemModalLabel">
	<div class="modal-dialog" role="document">
		<div class="modal-content">
			<div class="modal-header">
				<button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">&times;</span></button>
			</div>
			<div class="modal-body" data-id="sayID">
				<div class="row sayDetails">
					<div class="col-md-1 sayProfilePic"> 
						<img class="sayProfileImg img-circle pull-right" data-src="profilePicture" /> 
					</div> 
					<div class="col-md-11 sayMessageDetails">
						<div class="row"> 
							<div class="col-md-7">
								<span data-content="firstName"></span> <span data-content="lastName"></span> (<span data-content="userName"></span>)
							</div>
							<div class="col-md-5 text-right">
								<span data-content="timePosted"></span> 
							</div>
						</div>
						<div class="row"> 
							<div class="col-md-12 sayMessage">
								<span data-content="message"></span>
							</div>
						</div>

						<div class="row"> 
							<div class="col-md-2">
								<i class="icons applaudModal flaticon-applaud" data-toggle="tooltip" data-placement="top" title="Applaud"></i><span class="applaudModalCount" data-content="applauds"></span>
							</div>												
							<div class="col-md-2">
								<i class="icons reSayModal flaticon-resay" data-toggle="tooltip" data-placement="top" title="Re-Say"></i><span class="reSayModalCount" data-content="resays"></span>
							</div> 							
							<div class="col-md-2">
								<i class="icons booModal flaticon-boo" data-toggle="tooltip" data-placement="top" title="Boo"></i><span class="booModalCount" data-content="boos"></span>
							</div> 							
							<div class="col-md-4"></div> 
							<div class="col-md-2">
								<i class="icons deleteModal flaticon-delete" data-toggle="tooltip" data-placement="top" title="Delete"></i><span class="deleteModal" data-content="delete"></span>
							</div> 
						</div> 
						<div class="row usersDisplay"> 
							<div class="col-md-4 applaudUsersCol">
								<span class="applaudUsers" data-action="applaud">Helloooo</span>
							</div>												
							<div class="col-md-4 reSayUsersCount">
								<span class="reSayUsers" data-action="resay">Its Meee</span>
							</div> 							
							<div class="col-md-4 booUsersCount">
								<span class="booUsers" data-action="boo">How Are you??</span>
							</div>						
						</div> 
					</div>
				</div>
			
				<form class="form-horizontal comment-form" accept-charset="utf-8">
					<div class="form-group newComment">
						<label for="newComment" class="sr-only">Enter Your Comment</label>
						<textarea placeholder="What have you got to say?" name="commentBox" id="newComment" rows="4" class="commentBox"></textarea>
					</div>
					<div class = "row">
						<div class="col-md-4"></div>
							<div class="col-md-4">
								<button class="btn btn-default comButton" type="submit">Leave your Comment!</button>
							</div>
						<div class="col-md-4"></div>
					</div>
				</form>
				<!-- COMMENTS GO IN HERE -->
				<div class="commentFeed">
					
				</div>	
			</div><!-- /.modal-body -->
		</div><!-- /.modal-content -->
	</div><!-- /.modal-dialog -->
</div><!-- /.modal -->	

<div class="modal" id="confirmDelete" tabindex="-1" role="dialog" data-keyboard="false" data-backdrop="static" aria-labelledby="mySmallModalLabel">
  <div class="modal-dialog modal-sm">
    <div class="modal-content">
	<div class="modal-body">
     <span>Are you sure you want to delete your Say?</span> <br>
	 <div class="row" data-template-bind='[
     {"attribute": "data-sayID", "value": "sayID"}]'>
	 	<div class="col-md-2"></div> 
		<div class="col-md-2">
			<button type="button" class="btn confirmDelete" data-dismiss="modal">Yes</button>
		</div>
		<div class="col-md-2"></div> 
		<div class="col-md-2">
			<button type="button" class="btn noDelete" data-dismiss="modal">No</button>	
		</div> 
	</div> 
	</div>
	 
    </div>
  </div>
</div>  
<div class="activityModal">

</div>