<body>
	<div id="fakeLoader"></div>	
	<div class="container-fluid">
		<div class="row banner box-shadow">
			<div class="col-md-3"><a href=""><img id="logo-img" src="images/Logo.png" class="img-responsive center-block pointer" /></a></div>
			<div class="col-md-1"></div>
			<div class="col-md-4">
				<input id="userSearch" type="text" name="userSearch" class="form-control input-lg userSearch" />
			</div>
			<div class="col-md-1 messageIconContainer"><a href="conversations"><i class="icons messageIcon flaticon-message" ></i></a></div>
			<div class="col-md-1 user"><a href="profile"><img id="profileImage" src=""  class="img-circle pull-right"/></a></div>
			<div class="col-md-2 user">
				<div class="dropdown">
				
					<p class="dropdown-toggle" id="userDropDown" data-toggle="dropdown" aria-haspopup="true" aria-expanded="true"><span id="userName"></span><span class="caret"></span></p>
					
					 <ul class="dropdown-menu" aria-labelledby="userDropDown">
						<li><a href="profile">Profile</a></li>
						<li><a href="accountSettings">Account Settings</a></li>
						<li role="separator" class="divider"></li>
						<li><a href="logout">Logout</a></li>
					</ul>
				</div>
			</div>
		</div>
