<!DOCTYPE html>	
<html>
<head>
	<meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">
  	<base href="http://kate.ict.op.ac.nz/~gearl1/SILI/" />
	<link href="css/bootstrap.min.css" rel="stylesheet">
	<link type="text/css" rel="stylesheet" href="css/sili.css">
	<link rel="stylesheet" href="css/fakeLoader.css">
	<script src="https://ajax.googleapis.com/ajax/libs/jquery/2.2.0/jquery.min.js"></script>
    <script src="js/bootstrap.min.js"></script>
	<script src="js/jquery.backstretch.min.js"></script>
	<script src="js/fakeLoader.min.js"></script>
	<script src="js/jquery.loadTemplate-1.5.6.min.js"></script>
	<script src="js/sili_api.js"></script>	
	<script src="js/errors.js"></script>
		
	<title>SILI - Say it! Like it!</title>
	<link rel="icon" href="images/creep.png">
</head>