<!DOCTYPE html>	
<html>
<head>
	<meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">
  	<base href="http://kate.ict.op.ac.nz/~sili/" />
	<link rel="stylesheet" href="bower_components/bootstrap/dist/css/bootstrap.min.css">
	<link rel="stylesheet" href="bower_components/fakeLoader/fakeLoader.css">
	<link rel="stylesheet" href="bower_components/ng-img-crop/compile/minified/ng-img-crop.css">
	<link rel="stylesheet" href="bower_components/EasyAutocomplete/dist/easy-autocomplete.min.css"> 
	<link rel="stylesheet" href="bower_components/EasyAutocomplete/dist/easy-autocomplete.themes.min.css"> 
	<link rel="stylesheet" href="bower_components/datepicker/dist/datepicker.min.css"> 
	<link rel="stylesheet" href="bower_components/image-picker/image-picker/image-picker.css"> 
	<link rel="stylesheet" href="bower_components/font-awesome/css/font-awesome.min.css">
	<link rel="stylesheet" href="bower_components/emojione/assets/css/emojione.min.css"/><link rel="stylesheet" href="bower_components/emojionearea/css/emojionearea.min.css">
	<link type="text/css" rel="stylesheet" href="css/sili.css">
	<script src="bower_components/jquery/dist/jquery.min.js"></script>
	<script src="bower_components/angular/angular.min.js"></script>
	<script src="bower_components/imagesloaded/imagesloaded.pkgd.min.js"></script>
	<script src="bower_components/masonry/dist/masonry.pkgd.js"></script>
	<script src="bower_components/numeral/min/numeral.min.js"></script>
	<script src="bower_components/moment/min/moment.min.js"></script>
	<script src="bower_components/ng-img-crop/compile/minified/ng-img-crop.js"></script>
	<script src="bower_components/fakeLoader/fakeLoader.min.js"></script>
	<script src="bower_components/jquery-load-template/dist/jquery.loadTemplate-1.5.7.min.js"></script>
	<script src="bower_components/EasyAutocomplete/dist/jquery.easy-autocomplete.min.js"></script> 
	<script src="bower_components/image-picker/image-picker/image-picker.min.js"></script>
	<script src="bower_components/datepicker/dist/datepicker.min.js"></script> 	
	<script src="bower_components/emojionearea/js/emojionearea.min.js"></script>
	<script src="bower_components/bootstrap/dist/js/bootstrap.min.js"></script>
	<script src="bower_components/jquery-backstretch/jquery.backstretch.min.js"></script>
	<script src="js/sili_api.js"></script>
	<script src="js/errors.js"></script>

	<title>SILI - Say it! Like it!</title>
	<link rel="icon" href="images/creep.png">