	<div class="row content">
			<div class="col-lg-1 hidden-xs hidden-sm hidden-md"></div>
			<div class="col-md-2"></div>
			<div class="col-md-8 col-lg-6">
				<div class="row sayForm">
					<div class="col-md-12 clearfix">
						<form class="form-horizontal say-form" id="say-form" accept-charset="utf-8">
							<div class="form-group sayFormBox">
								<label for="inputSay" class="sr-only">Say It</label>
								<textarea placeholder="Go on, Say It" name="sayBox" id="inputSay" rows="4" class="sayBox"></textarea>
							</div>
							<button type="submit" class="btn btn-default sayButton pull-right">Say It!</button>
						</form>
					</div>
				</div>
				<div class="sayFeed">

				</div>
			</div>
			<div class="col-md-2"></div>
			<div class="col-lg-1 hidden-xs hidden-sm hidden-md"></div>
		</div>
	</div>
	<div class="sayDetailsModal">
	</div>	
	<script type="text/javascript">
		$("document").ready(function(){
			$(".say-form").submit(addSay);
			fetchSays();
        	$("#fakeLoader").fakeLoader({
            		timeToHide:1200,
                 bgColor:"#373F51",
           		 spinner:"spinner1"
        	});
		});
	</script>
</body>
</html>