	<div class="row content">
			<div class="col-lg-1 hidden-xs hidden-sm hidden-md"></div>
			<div class="col-md-2"></div>
			<div class="col-md-8 col-lg-6">
				<div class="row sayForm">

					<ul class="nav nav-tabs" role="tablist">
				    	<li role="presentation" class="active"><a href="#text" aria-controls="text" role="tab" data-toggle="tab">Text</a></li>
				    	<li role="presentation"><a href="#gif" aria-controls="gif" role="tab" data-toggle="tab">Gif</a></li>
				 	</ul>

				 	<div class="tab-content">
				    	<div role="tabpanel" class="tab-pane active" id="text">
				    		<div class="col-md-12 clearfix">
							<form class="form-horizontal say-form" id="say-form" accept-charset="utf-8">
								<div class="form-group sayFormBox">
									<label for="inputSay" class="sr-only">Say It</label>
									<textarea placeholder="Go on, Say It" name="sayBox" id="inputSay" rows="4" class="sayBox"></textarea>
								</div>
								<button type="submit" class="btn btn-default sayButton pull-right">Say It!</button>
							</form>
							</div>
				    	</div>
				    	<div role="tabpanel" class="tab-pane" id="gif">
				    		<div class="col-md-12 clearfix">
				    			<input type="text" name="gifSearch" id="gifSearch" class="form-control" placeholder="GIF Search">
								<form class="form-horizontal say-form" id="say-form" accept-charset="utf-8">
									<div class="gifResults">
										<select class="image-picker masonry gifs" name="gifBox">
										</select>
									</div>
								<button type="submit" class="btn btn-default sayButton pull-right">Say It!</button>
								</form>
							</div>
				   		</div>
				   	</div>
				 </div>
				<div class="sayFeed">

				</div>
				<div class="loadMoreSays">
					<button type="button" class="btn btn-default sayButton btn-lg center-block" id="loadSays" data-loading-text="<i class='fa fa-refresh fa-spin'></i> Loading Says">Load More Says</button>
				</div>
			</div>
			<div class="col-md-2"></div>
			<div class="col-lg-1 hidden-xs hidden-sm hidden-md"></div>
		</div>
	</div>
	<div class="sayDetailsModal">
	</div>	
	<script type="text/javascript">
		$("document").ready(function(){
			$(".say-form").submit(addSay);
			fetchSays();
        	$("#fakeLoader").fakeLoader({
            		timeToHide:1200,
                 bgColor:"#373F51",
           		 spinner:"spinner1"
        	});
		    var el = $("#inputSay").emojioneArea();
		    var timer = null;
		    $("#gifSearch").keyup(function () {
		    	var searchPhrase = $(this).val();
		    	if(timer) {
				    clearTimeout(timer);
				}

				timer = setTimeout(GIFSearch(searchPhrase), 5000);
		    });
		    GIFTrending();
		    var container = $("select.image-picker.masonry").next("ul.thumbnails");
			container.imagesLoaded(function(){
				container.masonry({
					itemSelector: "li",
					columnWidth: 5,
					gutter: 1
				});
			});

		});
	</script>
</body>
</html>