
		<div class="row content">
			<div class="col-lg-1 hidden-xs hidden-sm hidden-md"></div>
			<div class="col-md-2"></div>
			<div class="col-md-8 col-lg-6 profile">
				<div class="row">
					<div class="col-md-5">
						<img src="" class="img-circle center-block profile-profileImage" alt="" />
					</div>
					<div class="col-md-1">
					</div>
					<div class="col-md-5">
						<h1 class="profile-name"></h1>
						<br>
						<h3>Info About: <span class="profile-username username"></span></h3>
						<p class="profile-userbio"></p>
						
					</div>
					<div class="col-md-1">
					</div>					
				</div>
				<div class="row">
					<div class="col-md-5">
						<button type="button" class="btn btn-default btn-lg btn-block listenButton"></button>
					</div>
					<div class="col-md-1">
						
					</div>
					<div class="col-md-3">	
						<h3><i class="icons flaticon-listening listening"></i>Listens To: <span class="profile-listens"></span></h3>
					</div>
					<div class="col-md-3">
						<h3><i class="icons flaticon-audience audience"></i>Audience: <span class="profile-audience"></span></h3>
					</div>		
				</div>
				<div class="row">
					<div class="col-md-5">
						<button type="button" class="btn btn-default btn-lg btn-block messageButton"><i class="icons flaticon-message message"></i>Send this person a message!<span class="profile-message"></span></button>
					</div>
					<div class="col-md-7"></div>
				</div>
				<div class="col-md-2"></div>
				<div class="col-lg-1 hidden-xs hidden-sm hidden-md"></div>
		</div>
	</div>

	<div class="row content">
			<div class="col-lg-1 hidden-xs hidden-sm hidden-md"></div>
			<div class="col-md-2"></div>
			<div class="col-md-8 col-lg-6">
				<div class="sayFeed">

				</div>
				<div class="loadMoreSays">
					<button type="button" class="btn btn-default sayButton btn-lg center-block" id="loadSaysProfile" data-loading-text="<i class='fa fa-refresh fa-spin'></i> Loading Says">Load More Says</button>
				</div>
			</div>
			<div class="col-md-2"></div>
			<div class="col-lg-1 hidden-xs hidden-sm hidden-md"></div>
		</div>
	</div>
	<div class="sayDetailsModal">
	</div>	
	<script type="text/javascript">
		$("document").ready(function(){
			var pathArray = window.location.pathname.split( '/' );
			var requestedUserName = '';
			if(typeof pathArray[3] !== 'undefined')
			{
				requestedUserName = pathArray[3];
			}
			getUserProfile(requestedUserName);
		});
	</script>

</body>
</html>