
		<div class="row content">
			<div class="col-lg-1 hidden-xs hidden-sm hidden-md"></div>
			<div class="col-md-2"></div>
			<div class="col-md-8 col-lg-6 profile">
				<div class="row">
					<div class="col-md-5">
						<img src="" class="img-circle center-block acc-profileImage" alt="" />
					</div>
					<div class="col-md-1">
					</div>
					<div class="col-md-5">
						<h1 class="acc-name"></h1>
						<br>
						<h3>Info About<span class="acc-username"></span></h3>
						<p class="acc-userbio"></p>
						<hr>
						<p class="acc-email"></p>
						
					</div>
					<div class="col-md-1">
					</div>					
				</div>
				<div class="row">
					<div class="col-md-5">
					</div>
					<div class="col-md-1">
					</div>
					<div class="col-md-5">					
					</div>
					<div class="col-md-1"></div>					
				</div>
			</div>
			<div class="col-md-2"></div>
			<div class="col-lg-1 hidden-xs hidden-sm hidden-md"></div>
		</div>
	</div>
	<script type="text/javascript">
		$("document").ready(function(){
			getUserProfile()
		});
	</script>

</body>
</html>