body{
	margin: 0;
}

h1{
	margin: 0;
	padding: 0;
}

.banner{
	background-color: #DE5164;
	height: 200px;
}

.banner-container{
	height: 200px;
	width: 1150px;
	background-color: #DE5164;
	margin: auto;
}

#logo-img{
	height: 160px;
}
.logo{
	height: 200px;
	width: 400px;
	display: inline;
	float: left;
	padding-top: 20px;
}

.signin{
	height: 200px;
	width: 500px;
	display: inline;
	float: left;
}

.signin-input{
	padding-top:50px;
	float: right;
}
.signin input{
	height: 35px;
	width: 300px;
	margin-bottom: 20px;
	border-radius: 5px;
}

.signin-button{
	width: 200px;
	height: 200px;
	display: inline;
	float: left;
	padding-top: 40px;
}

#button-img{
	width: 150px;
}

.content-area{
	background-color: #FFE9EC;
}

.subtitle{
	width: 1150px;
	margin: auto;
	height: 135px;
}

#sub-left,#sub-right{
	font-family: Hobo Std;
	font-size: 60px;
	display: inline;
	float: left;
	padding-top: 50px;
}

#sub-left{
	padding-left: 20px;
}

#sub-right{
	padding-left: 270px;
}

#title-span{
	color: #DE5164;
}

.welcome-content{
	background-color: #FFE9EC;
	width: 1300px;
	margin: auto;
	height: 480px;
}

.intro-img{
	display: inline;
	float: left;
}

.signup-container{
	display: inline;
	float: left;
}

.signup-container form{
	padding-left: 120px;
	padding-top: 10px;
}

.signup-container input{
	width: 450px;
	height: 40px;
	margin-bottom: 6px;
	border-radius: 5px;
}

.signup-container .sml{
	width: 220px;
	margin-right: 6px;
}

.signup-container .join-button{
	width: 180px;
	float: right;
	margin-right: 6px;
	background-color: #DE5164;
	color: white;
	font-family: Hobo Std;
	font-size: 25px;
	border-color: white;
	border-width: 3px;
}